<div class="container-contact">
  <h1 class="contact">Contact Us 📧</h1>
  <p class="contact">You may contact me at faqat0_0@hotmail.com</p><br>

  <h1 class="contact">You can also contact me through Linkedin</h1>
  <%= link_to "Linkedin", "https://www.linkedin.com", target: "_blank", class: "contact" %>

  <p class="contact">Thank you for visiting my page and hope to hear from you soon!</p>
</div>
