<h1>Contact Us</h1>
<p>You may contact me at faqat0_0@hotmail.com</p>

<h1>You can also contact me through Linkedin</h1>
<%= link_to "Linkedin", "https://www.linkedin.com", target: "_blank" %>

<p>Thank you for visiting my page and hope to hear from you soon!</p>
