<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Welcome to my Website!</h1>
    <p>This is a template for a simple marketing or informational website.
    It includes a large callout called a jumbotron and three supporting
    pieces of of content. Use it as a starting point to create something
    unique</p>
    <%= link_to "Learn More", "#", class: "btn btn-primary btn-md" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="header col-md-4">
      <h2>Heading 1</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Placeat praesentium corrupti odit asperiores perferendis vero eum
      fugiat rerum soluta velit, dicta dolores in, quam cupiditate neque
      eius, maiores iure dolor!</p>
      <%= link_to "View details", "#", class: "btn btn-secondary" %>
    </div>
    <div class="header col-md-4">
      <h2>Heading 2</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Placeat praesentium corrupti odit asperiores perferendis vero eum
      fugiat rerum soluta velit, dicta dolores in, quam cupiditate neque
      eius, maiores iure dolor!</p>
      <%= link_to "View details", "#", class: "btn btn-secondary" %>
    </div>
    <div class="header col-md-4">
      <h2>Heading 3</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Placeat praesentium corrupti odit asperiores perferendis vero eum
      fugiat rerum soluta velit, dicta dolores in, quam cupiditate neque
      eius, maiores iure dolor!</p>
      <%= link_to "View details", "#", class: "btn btn-secondary" %>
    </div>




  </div>
</div>





<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, fuga! Magni ducimus maiores delectus cumque illum nihil non iusto minus perferendis amet! Quod molestias laboriosam ad aliquid reiciendis sunt! Commodi!</p>
