.container {
  padding-top: 50px;
  text-align: center;
}

.container h1 {
  padding-top: 50px;
}

.container-contact {
  background-image: url("contact-bg2.jpg");
  background-size: auto;
  height: 100vh;
}

h1.contact {
  padding-top: 30px;
  padding-left: 30px;
}

p.contact {
  padding-left: 30px;
}

.contact {
  padding-left: 30px;
}

.container-about {
  background-image: url("about-bg.jpg");
  background-size: auto;
  height: 100vh;
}

h1.about {
  padding-top: 30px;
  padding-left: 30px;
}

p.about {
  padding-left: 30px;
}

.container-tweets {
  padding: 50px 20px;
}

body {
  background-color: bisque;
}

.container-tweets {
  background-color: rgb(205, 250, 205);
}
