.container {
  padding-top: 50px;
}


.container-contact {
  background-image: url("contact-bg2.jpg");
  background-size: auto;
  height: 100vh;
}

h1.contact {
  padding-top: 10px;
  padding-left: 20px;
}

p.contact {
  padding-left: 20px;
}

.contact {
  padding-left: 20px;
}
