* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}


.jumbotron-fluid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(image_path('home-background.jpg'));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  height: 70vh;
  overflow : hidden;


  .btn.btn-primary.btn-md {
    margin-top: 50px;
  }
}

.header.col-md-4 {
  padding-top: 50px;
  padding-bottom: 50px;

}

.card-img-top {
  height: 192px;
  width: auto;
}

.container.home {
  background-color: bisque;
  margin: 0;
  width: 100%;
}

.col-12.col-sm-4 {
  margin-bottom: 50px;;
}
